.pagination{
    width: 100%;
    display:flex;
    justify-content: center;
}

.pagination a{
    display:flex;
    justify-content: center;
}

.cottages{
    margin-left: 5%;
    margin-right: 5%;
}