h1 {
  margin-top: 50px;
}

form {
  margin: auto;
  max-width: 90%;
}
.connection_form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  margin: auto;
}

.label_input {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.label {
  color: #f15d30;
  font-weight: bold;
}

button {
  border-radius: 5px;
  max-width: 120px;
  justify-content: end;
  background: #f15d30;
  color: #fff;
  border: none;
}

.incorrect {
  color: red;
  font-weight: bolder;
  background-color: lightgrey;
  opacity: 80%;
  text-align: center;
}

.ftco-navbar-light_profil {
  background: dimgray !important;
  position: absolute;
  top: -8px;
  left: 0;
  right: 0;
  z-index: 3;
}

.hero-wrap_profil .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: "";
  opacity: 0.3;
}

.ftco-navbar-light_profil.scrolled.awake {
  margin-top: 0px;
  -webkit-transition: 0.3s all ease-out;
  -o-transition: 0.3s all ease-out;
  transition: 0.3s all ease-out;
}

.ftco-navbar-light_profil.scrolled {
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  margin-top: -130px;
  background: dimgray !important;
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}
