h2 {
    margin-top: 50px;
    align-self: center;
    margin-bottom: 20px;
}

form {
    margin: auto;
    max-width: 90%;
}

.formulaire {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    width: 60%;
    margin-bottom: 20px;
}

.label_input {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
    width: 100%;
}

.label {
    color: #f15d30;
    font-weight: bold;
}

.button {
    border-radius: 5px;
    max-width: 120px;
    justify-content: end;

}

.button:hover {
    background-color: #f15d30;
}

.incorrect {
    color: red;
    font-weight: bolder;
    background-color: lightgrey;
    opacity: 80%;
    text-align: center;
}